//========================================================
// Định nghĩa màu
//========================================================
$var-main-color: #0d1019;
$var-yellow: #ffa500;
$var-yellow-light: #f2d537;
