$var-cache-version: 792396775;
// ######################################################
// Env variable
// ######################################################


// Url
// -------------------
$var-image-url: '../image';
$var-image-bg-url: '../image/bg';
$var-image-icon-url: $var-image-url + '/icon';
$var-image-icon-svg-url: $var-image-url + '/icon-svg';
$var-upload-url: '../../upload';
