//=============================================================
// Định nghĩa base space cho get base space function
//=============================================================
$var-base-space: 8px;

//=============================================================
// transition time during
//=============================================================
$var-transition-time-xs: 0.3s;
$var-transition-time-default: 0.3s;

//=============================================================
// special color
//=============================================================
$var-web-color-facebook: #315caf;
$var-web-color-google-plus: #ea3731;
$var-web-color-twitter: #1da1f2;
$var-web-color-zalo: #008fe5;

//=============================================================
// z-index define
//=============================================================
$var-z-index-lv-n1: -10;
$var-z-index-lv-0: 0;
$var-z-index-lv-1: 10;
$var-z-index-lv-2: 20;
$var-z-index-lv-3: 30;
$var-z-index-lv-4: 40;
$var-z-index-lv-5: 50;
$var-z-index-lv-6: 60; // Từ đây đổ xuống chủ yếu cho các thành phần ngoài section
$var-z-index-lv-7: 70;
$var-z-index-lv-8: 80;
$var-z-index-lv-9: 90;
$var-z-index-lv-10: 100;
$var-z-index-lv-11: 110;
