//==============================================================
// Font size / line height for text
//==============================================================
$var-font-size-xs: 12px;
$var-font-size-sm: 13px;
$var-font-size-normal: 14px;
$var-font-size-md: 16px;
$var-font-size-lg: 18px;
$var-font-size-default: $var-font-size-normal;
$var-font-size-key-default: 'default';

$var-map-font-size: (
  'xs': $var-font-size-xs,
  'sm': $var-font-size-sm,
  'normal': $var-font-size-normal,
  'md': $var-font-size-md,
  'lg': $var-font-size-lg,
  'default': $var-font-size-default,
);

//==============================================================
// Font size / line height for heading
//==============================================================
$var-h1-font-size: 32px;
$var-h2-font-size: 28px;
$var-h3-font-size: 24px;
$var-h4-font-size: 20px;
$var-h5-font-size: 18px;
$var-h6-font-size: 16px;

$var-map-heading-font-size: (
  'h1': $var-h1-font-size,
  'h2': $var-h2-font-size,
  'h3': $var-h3-font-size,
  'h4': $var-h4-font-size,
  'h5': $var-h5-font-size,
  'h6': $var-h6-font-size,
);
