<section class="header-section">
  <div class="gulp-container">
    <div class="header-block">
      <div class="header-block__head">
        <span class="header-block__logo-shape">
          <img src="{{ LAYOUT_CONFIG.imageUrl }}/logo/gulp-logo.png?v={{ CACHE_VERSION }}" alt="gulp" class="header-block__logo-img">
        </span> <!-- .header-block__logo-shape -->
      </div> <!-- .header-block__head -->
    </div> <!-- .header-block -->
  </div> <!-- .gulp-container -->
</section> <!-- .header-section -->
