$line-height-default: 1.5;
$font-size-default: 14px;

//===========================
// color map
//===========================
$color-map: (
  'gulp': #eb4a4b,
  'nunjuck': #1c4913,
  'sass': #cf649a,
  'javascript': #fdd734,
  'vuejs': #00c180,
);
