{% extends objGlobal.path.njk + '/_layout.njk' %}

{% set resProductList = data.response %}

<!-- ===============Body=============== -->

{# {% block header %}{% endblock %} #}

{% block body %}
  {% include objGlobal.path.njk + "/partial/home-page/_home-section.njk" %}
{% endblock %}

{% block script %}
  <script type="text/javascript">
    window.PAGE_INFO.resProductList = {{ resProductList | json }};
    window.PAGE_INFO.image_url = "{{ LAYOUT_CONFIG.imageUrl }}";
  </script>
{% endblock %}
