{% extends objGlobal['path-list']['layout'] %}

{% set bodyClass = 'textPage' %}
{% set pageHeadTitle = 'text' %}

{% block body %}
  {% include objGlobal['path-list']['njk'] + "/text/_text-block.njk" %}
{% endblock %}
