{% extends objGlobal.path.njk + '/_layout.njk' %}

{% set bodyClass = 'textPage' %}
{% set pageHeadTitle = 'text' %}

{# {% block header %}{% endblock %} #}

{% block body %}
  {% include objGlobal.path.njk + "/text/_text-block.njk" %}
{% endblock %}

{# {% block footer %}{% endblock %} #}
