<section class="footer-section">
  <div class="container">
    <div class="footer-block">
      <div class="footer-block__copy-right-label">
        Copyright G-Lax 2021
      </div>
    </div> <!-- .footer-block -->
  </div> <!-- .container -->
</section> <!-- .footer-section -->
