<section class="header-section">
  <div class="header-section__bg is-gulp-bg">
  </div> <!-- .header-section__bg -->

  <div class="container">
    <div class="header-block">
      <div class="header-block__head">
        <div class="header-block__logo-shape">
          <div class="header-block__logo-shape-inner">
            <img src="{{ LAYOUT_CONFIG.imageUrl }}/logo/glax-logo-fixed.png?v={{ CACHE_VERSION }}" alt="gulp" class="header-block__logo-img">
          </div>
        </div> <!-- .header-block__logo-shape -->
      </div> <!-- .header-block__head -->
    </div> <!-- .header-block -->
  </div> <!-- .container -->
</section> <!-- .header-section -->
