{% extends objGlobal.path.njk + '/_layout.njk' %}

{% set resProductList = data.response %}

<!-- ===============Body=============== -->

{# {% block header %}{% endblock %} #}

{% block body %}
  {% include objGlobal.path.njk + "/home-page/_home-section.njk" %}

  {% block script %}
    <script>
      window.PAGE_INFO = {};

      window.PAGE_INFO.resProductList = {{ resProductList | json }};
      window.PAGE_INFO.image_url = "{{ LAYOUT_CONFIG.imageUrl }}/";
    </script>
  {% endblock %}
{% endblock %}
