{% extends  objGlobal.path.njk + '/_layout.njk' %}

{% set resProductList = data.resProductList %}

<!-- ===============Body=============== -->

{# {% block header %}{% endblock %} #}

{% block body %}
  {% include objGlobal.path.njk + "/home-page/_home-section.njk" %}

  <script>
    window.PAGE_INFO = {};

    window.PAGE_INFO.resProductList = {{ resProductList | json }};
  </script>
{% endblock %}
