{% extends objGlobal['path-list']['layout'] %}

{% set bodyClass = 'introductionPage' %}
{% set pageHeadTitle = 'introduction' %}

<!-- ===============Body=============== -->

{% block header %}{% endblock %}

{% block body %}
  {% include objGlobal['path-list']['njk'] + "/introduction/_introduction-section.njk" %}
{% endblock %}
