{% extends "../_layout.njk" %}

{% set bodyClass = 'introductionPage' %}
{% set pageHeadTitle = 'introduction' %}

<!-- ===============Body=============== -->

{% block header %}{% endblock %}

{% block body %}
  {% include "./_introduction-section.njk" %}
{% endblock %}
