{% set objResource = objGlobal['resource'] %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ data.title }}</title>

    <!-- global css file (common.css) -->
    {% for cssFile in objResource['common']['arrCssFile'] %}
      <link rel="stylesheet" href="{{ LAYOUT_CONFIG.cssUrl + cssFile + '.css' + '?v=' + CACHE_VERSION }}">
    {% endfor %}

    <!-- page css file -->
    {% for cssFile in objResource[namepage]['arrCssFile'] %}
      <link rel="stylesheet" href="{{ LAYOUT_CONFIG.cssUrl + cssFile + '.css' + '?v=' + CACHE_VERSION }}">
    {% endfor %}

    <!-- global js file (common.js) -->
    {% for jsFile in objResource['common']['arrJsFile'] %}
      <script type="text/javascript" src="{{ LAYOUT_CONFIG.jsUrl + jsFile + '.js' + '?v=' + CACHE_VERSION }}"></script>
    {% endfor %}
  </head>
  <body class='{{ data.body_class_name }}'>
    <!-- header region -->
    {% block header %}
      {% include "./partial/global/header-section.njk" %}
    {% endblock %}
    <!-- #end header region -->

    <!-- body region -->
    {% block body %}{% endblock %}
    <!-- #end body region -->

    <!-- footer region -->
    {% block footer %}
      {% include "./partial/global/footer-section.njk" %}
    {% endblock %}
    <!-- #end footer region -->

    <!-- other js file -->
    <script type="text/javascript">
      window.PAGE_INFO = {};
    </script>
    {% block script %}{% endblock %}

    <!-- page js file -->
    {% for jsFile in objResource[namepage]['arrJsFile'] %}
      <script type="text/javascript" src="{{ LAYOUT_CONFIG.jsUrl + jsFile + '.js' + '?v=' + CACHE_VERSION }}"></script>
    {% endfor %}
  </body>
</html>
